{{{backFromProfileButton}}}
<div class='{{styles.container}}'>
  <div class='{{styles.width}}'>
    {{{profileAvatar}}}
    {{{profileForm}}}
    <div class='{{styles.editButtonsContainer}}'>
      {{{primaryButton}}}
    </div>
  </div>
</div>