{{{backFromProfileButton}}}
<div class='{{styles.container}}'>
  <div class='{{styles.width}}'>
    {{{profileAvatar}}}
    <form class='{{styles.form}}'>
      {{{profileInputOldPassword}}}
      {{{profileInputPassword}}}
      {{{profileInputPasswordAgain}}}
    </form>
    <div class='{{styles.editButtonsContainer}}'>
      {{{primaryButton}}}
    </div>
  </div>
</div>