<form class='{{styles.form}}'>
  {{{profileInputFirstName}}}
  {{{profileInputSecondName}}}
  {{{profileInputDisaplyName}}}
  {{{profileInputLogin}}}
  {{{profileInputEmail}}}
  {{{profileInputPhone}}}
</form>