{{{backFromProfileButton}}}
<div class='{{styles.container}}'>
  <div class='{{styles.width}}'>
    {{{profileAvatar}}}
    {{{profileForm}}}
    <div class='{{styles.editButtonsContainer}}'>
      <button class='{{styles.text}}' id='edit-button'>Изменить данные</button>
      <button class='{{styles.text}}' id='change-password-button'>Изменить
        пароль</button>
      <button
        class='{{styles.text}} {{styles.warningText}}'
        id='exit-button'
      >Выйти</button>
    </div>
  </div>
</div>