<div class='{{header}}'>
  <div class='{{recipient}}'>
    <img src='{{avatar}}' class='{{avatarClass}}' alt='Фото пользователя' />
    <p>{{recipientName}}</p>
  </div>
  <div class='{{dotsContainer}}'>
    <button class='{{dotsButtonClass}}'><img src='{{dots}}' /></button>
  </div>
</div>