<div class='{{styles.header}}'>
  <div class='{{styles.recipient}}'>
    <img src='{{avatar}}' class='{{styles.avatar}}' alt='Фото пользователя' />
    <p>{{recipientName}}</p>
  </div>
  <div class='{{styles.dotsContainer}}'>
    <button class='{{styles.dotsButtonClass}}'><img src='{{dots}}' /></button>
  </div>
</div>