<div class='{{containerClass}}'>
  <form class='{{formContainerClass}}'>
    <h1>Регистрация</h1>
    {{{email}}}
    {{{login}}}
    {{{name}}}
    {{{lastName}}}
    {{{phoneNumber}}}
    {{{password}}}
    {{{confirmPassword}}}
    {{{submit}}}
    {{{link}}}
  </form>
</div>