<div class='{{styles.container}}'>
  <img src='{{user.avatar}}' class='{{styles.avatar}}' />
  <div class='{{styles.edit}}'>
    <button class='{{styles.editButton}}'>Изменить аватар</button>
  </div>
  <h2>{{user.first_name}}</h2>
</div>