<div class='{{styles.footer}}'>
  <button class='{{styles.attachButton}}'>
    <img src='{{attach}}' />
  </button>
  <input
    class='{{styles.messageInput}}'
    placeholder='Введите своё сообщение...'
    name='message'
    autocomplete='off'
  />
  <button class='{{styles.sendButton}}'>
    <img src='{{arrowRight}}' />
  </button>
</div>